/* 노멀라이징 */
html {
    letter-spacing: -0.6px;
    word-spacing: 2px;
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li,
ul {
    list-style: none;
}

.row:after {
    clear: both;
    content: "";
    display: block;
}

/* css */

.con {
    width: 1180px;
}

.cell {
    float: left;
}

.cell-right {
    float: right;
}

/* 헤더 */

.header {
    width: 100%;
    position: relative;
}

.gnb {
    background: #fff;
    width: 1180px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px #777;
    transition: 0.3s;
    z-index: 51;
}

.gnb > ul {
    width: 1080px;
    height: 100px;
    margin: 0 auto;
}

.gnb > ul > li {
    width: 152px;
    height: 100px;
    text-align: center;
    position: relative;
}

.gnb > ul > li > a {
    line-height: 100px;
    font-size: 1.1vw;
    font-weight: bold;
    color: #2e3192;
}

.gnb > ul > .logo {
    width: 168px;
    height: 100%;
    position: relative;
    overflow: visible;
}

.gnb > ul > .logo > .logo_img {
    width: 100%;
    height: 100%;
    background-image: url("../img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 50;
    bottom: -40px;
    left: 0;
}

.gnb > ul > .logo > .logo_img > a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10px;
    border-radius: 60px;
    opacity: 0;
}

.gnb > ul > li > ul {
    width: 100%;
    max-height: 0;
    position: absolute;
    top: 100px;
    left: 0;
    transition: max-height 0.3s;
    overflow: hidden;
}

.gnb > ul:hover li ul {
    max-height: 13em;
    transition: max-height 0.3s;
}

.gnb > ul > li > ul > li > a {
    line-height: 40px;
    font-size: 0.8vw;
    color: #272727;
    font-weight: normal;
}

.gnb > ul > li > ul > li:first-child {
    padding-top: 20px;
}

.gnb > ul > li > ul > li:last-child {
    padding-bottom: 20px;
}

.gnb > ul > li > ul > li > a:hover {
    color: #d30e15;
    font-weight: bold;
}

.menu_bg {
    width: 1180px;
    height: 0px;
    background-image: url("../img/background_bg.jpg");
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    box-shadow: 0px 0px 5px #777;
    z-index: 49;
}

.site_bg {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 0;
    opacity: 0;
    transition: 0.3s;
}


.main1 {
}

.main_slide {
    max-width: 100%;
}

.main_slide .slick-slide {
    outline: 0;
}

.slide1 {
    width: 100%;
    padding-bottom: 7.29%;
    background-image: url("../img/slide_img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.slide2 {
    width: 100%;
    padding-bottom: 7.29%;
    background-image: url("../img/slide_img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.slide3 {
    width: 100%;
    padding-bottom: 7.29%;
    background-image: url("../img/slide_img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/*.slide4 {
    width: 100%;
    padding-bottom: 5.65%;
    background-image: url("../img/slide_img4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
*/

.main2 {
    max-width: 100%;
}

.slogun {
    width: 100%;
    padding-bottom: 9.8%;
    background-image: url("../img/slogun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.hot_products {
    width: 100%;
    background: #fff;
    position: relative;
}

.hot_text {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: #d30e15;
    font-size: 3.5vw;
    font-weight: bold;
}

.menu_slide {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    padding-top:12%;
    padding-bottom:100px;
}

.menu_slide .slick-slide {
    outline: 0;
}

.menu1 {
    width: 100%;
    padding-bottom: 2.26%;
    background-image: url("../img/menu_slide_img1as.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.menu2 {
    width: 100%;
    padding-bottom: 2.26%;
    background-image: url("../img/menu_slide_img2as.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.menu3 {
    width: 100%;
    padding-bottom: 2.26%;
    background-image: url("../img/menu_slide_img3as.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.menu4 {
    width: 100%;
    padding-bottom: 2.26%;
    background-image: url("../img/menu_slide_img4as.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.menu5 {
    width: 100%;
    padding-bottom: 2.26%;
    background-image: url("../img/menu_slide_img5as.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.menu_slide .slick-dots {
    width:auto;
    position: static;
}

@media ( min-width:1181px ) {
    .menu_slide .slick-dots {
        margin-right:100px;
    }
    
    .main2 {
        position: relative;
    }
    
    .main2 .btn-more {
        position: absolute;
        bottom:160px;
        left:calc(50% + 390px);
    }
    
    .main2 > .btn-more > a {
        position: relative;
    }
    
    .main2 .btn-more > a > span {
        width:30%;
        padding-bottom:30%;
        background-image: url("../img/next.png");
        display: inline-block;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        right:-40px;
        top:2px;
    }
    
    .main2 .btn-more {
    font-size:1vw;
    text-align: center;
    color:#d30e15;
    font-weight: bold;
}
}

.main2 .slick-dotted.slick-slider {
    margin-bottom:0;
}



.main2 .slick-dots > li {
    width:150px;
    height: auto;
    transform: scale(0.9);
    transition: 0.3s;
}

.main2 .slick-dots > li.slick-active {
    transform: scale(1);
    transition: 0.3s;
}

@media ( max-width:1180px ) {
    
    .menu_slide {
    padding-bottom:0%;
}
    
    .main2 .slick-dots {
        width:100%;
    }
    .main2 .slick-dots > li {
        width:10vw;
        min-width: 50px;
    }
    
    .main2 .btn-more {
    font-size:2.5vw;
    text-align: center;
    color:#d30e15;
    font-weight: bold;
    padding-top:10px;
    padding-bottom:30px;
}
    
    .hot_text {
    top: 7%;
}
    
}

.main2 .slick-dots > li > img {
    width:100%;
    display: block;
}

.main3 {
    max-width: 100%;
    position: relative;
}

.main3 > .main3_bg {
    background-image: url("../img/event_menu_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
}


.main3 > .event_title {
    position: absolute;
    left:50%;
    top:100px;
    transform: translateX(-50%);
    font-size: 3.5vw;
    font-weight: bold;
    color:#fff;
}

.main3 > .main3_bg > .event_box_wrap {
    max-width:1180px;
    margin:0 auto;
    position: relative;
}

.main3 > .main3_bg > .event_box_wrap > .event_box {
    width:100%;
    padding-top:21%;
    padding-bottom:100px;
    display: flex;
    justify-content: space-between;
}

.event_box > .eventbox_1 {
    width:30%;
    /*background-image: url("../img/event_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
    position: relative;
    overflow: hidden;
}

.event_box > div {
    cursor: pointer;
}

.event_box > div > div > img {
    width:100%;
    display: block;
    transition: transform 0.4s;
}

.event_box > div:hover > div > img {
    transform: scale(1.2);
}

.event_box > div > div {
    width:100%;
    position: relative;
}

.event_box > .eventbox_1 > .eventbox_1_img::after {
  content:"";
  display:block;
  background-color:rgba(0,0,0,0);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:background-color 0.5s;
}

.event_box > .eventbox_2 > .eventbox_2_img::after {
  content:"";
  display:block;
  background-color:rgba(0,0,0,0);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:background-color 0.5s;
}

.event_box > .eventbox_3 > .eventbox_3_img::after {
  content:"";
  display:block;
  background-color:rgba(0,0,0,0);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:background-color 0.5s;
}

.eventbox_1:hover > .eventbox_1_img::after {
  background-color:rgba(0,0,0,.5);
}

.eventbox_2:hover > .eventbox_2_img::after {
  background-color:rgba(0,0,0,.5);
}

.eventbox_3:hover > .eventbox_3_img::after {
  background-color:rgba(0,0,0,.5);
}

.event_box > .eventbox_1 > .eventbox_1_img::before {
  content:"click";
  text-transform:uppercase;
  font-weight:bold;
  position:absolute;
  top:50%;
  left:50%;
  color:white;
  transform:translateX(-50%) translateY(-50%);
  font-size:1.2rem;
  border:5px solid white;
  padding:10px 30px 10px;
  border-radius:10px;
  z-index:1;
  opacity:0;
  transition:opacity 0.5s;
}

.event_box > .eventbox_2 > .eventbox_2_img::before {
  content:"click";
  text-transform:uppercase;
  font-weight:bold;
  position:absolute;
  top:50%;
  left:50%;
  color:white;
  transform:translateX(-50%) translateY(-50%);
  font-size:1.2rem;
  border:5px solid white;
  padding:10px 30px 10px;
  border-radius:10px;
  z-index:1;
  opacity:0;
  transition:opacity 0.5s;
}

.event_box > .eventbox_3 > .eventbox_3_img::before {
  content:"click";
  text-transform:uppercase;
  font-weight:bold;
  position:absolute;
  top:50%;
  left:50%;
  color:white;
  transform:translateX(-50%) translateY(-50%);
  font-size:1.2rem;
  border:5px solid white;
  padding:10px 30px 10px;
  border-radius:10px;
  z-index:1;
  opacity:0;
  transition:opacity 0.5s;
}

.eventbox_1:hover > .eventbox_1_img::before {
  opacity:1;
}

.eventbox_2:hover > .eventbox_2_img::before {
  opacity:1;
}
.eventbox_3:hover > .eventbox_3_img::before {
  opacity:1;
}



.event_box > .eventbox_2 {
    width:30%;
    /*background-image: url("../img/event_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
    position: relative;
    overflow: hidden;
}



.event_box > .eventbox_3 {
    width:30%;
    /*
    background-image: url("../img/event_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    */
    position: relative;
    overflow: hidden;
}


.event_box > div > a {
    width:100%;
    height:100%;
    position: absolute;
}


.main4 {
    max-width:100%;
}

.main4 > .info_bg {
    background-image: url("../img/section2_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
}
.main4 > .info_bg > .info_wrap {
    max-width:1180px;
    margin:0 auto;
    position: relative;
}

.main4 > .info_bg > .info_wrap > .franchise {
    width:50%;
}

.franchise > .title {
    padding-top:44px;
    padding-left:50px;
    padding-bottom:64px;
    color:#fff;
    font-weight: bold;
    font-size:2.3vw;
}

.franchise > .text > .text1 {
    padding-left:50px;
    padding-bottom:50px;
    color:#fff;
    font-weight: bold;
    font-size:1.8vw;
}

.franchise > .text > .text2 {
    padding-left:50px;
    padding-bottom:48px;
    color:#fff;
    font-weight: bold;
    font-size:1.8vw;
}

.franchise_button {
    margin:0 auto;
    width:83%;
    padding-bottom:60px;
}

.franchise_button > .button_bg {
    
    width:100%;
    background:#fff;
    position: relative;
    box-shadow: 0 0 10px #333;
    padding-top:6.8%;
    padding-bottom:6.8%;
}

.franchise_button > .button_bg > a {
    text-align: center;
    width:100%;
    height: 100%;
    position: absolute;
    top:10%;
    color:#d30e15;
    font-size:1.8vw;
    font-weight: bold;
}

.main4 > .info_bg > .info_wrap > .store {
    width:50%;
    position: relative;
}

.store > .title {
    padding-top:44px;
    padding-left:50px;
    padding-bottom:64px;
    color:#fff;
    font-weight: bold;
    font-size:2.3vw;    
}

.store > .text > .text1 {
    padding-left:50px;
    padding-bottom:50px;
    color:#fff;
    font-weight: bold;
    font-size:1.8vw;
}

.store > .text > .text2 {
    padding-left:50px;
    padding-bottom:46.2px;
    color:#fff;
    font-weight: bold;
    font-size:1.8vw;
}

.store > .text > .text2 > span {
    opacity: 0;
    pointer-events: none;
}

.store_search {
    margin:0 auto;
    width:83%;
    padding-bottom:60px;
    position: relative;
}

.store_search > span {
    position: absolute;
    top:6px;
    left:24px;
    font-size:1.8vw;
    font-weight: bold;
    color:#777;
    pointer-events:none;
    user-select: none;
    transition:top .3s, font-size .3s;
}

.store_search > input:focus + span,
.store_search > input:not(:placeholder-shown) + span{
  top:2px;
  font-size:0.4rem;
}

.search-icon {
    width:9%;
    padding-bottom:9%;
    background-image: url("../img/serach.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top:9%;
    right:10px;
    z-index: 30;
    cursor: pointer;
}

.serach-textbox {
    padding-top:3%;
    padding-bottom:3%;
    width:100%;
    border:none;
    font-size:1.8vw;
    line-height: 1;
    color:#303296;
    font-weight: bold;
    text-indent: 20px;
    box-shadow: 0 0 10px #333;
    outline: 0;
}

.footer {
    background: #fff;
    width:100%;
    height:200px;
    border-top:2px solid #aaa;
}

.footer > .con {
    margin:0 auto;
    height:100%;
    position: relative;
}

.footer > .con > .wrap {
    width:100%;
    height:100%;
    position: absolute;
    left:50%;
    top:0;
    transform: translateX(-40%);
}

.footer > .con > .wrap > .logo {
    width:200px;
    height:100%;
    background-image: url("../img/logo_small.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.footer > .con > .wrap > .logo > a {
    position: absolute;
    width:100%;
    height:60%;
    top:50%;
    transform: translateY(-50%);
}

.footer > .con > .wrap > .text1 {
    margin-left: 30px;
    width:600px;
    height:50%;
    color:#555555;
    font-weight: bold;
    font-size:24px;
    box-sizing: border-box;
    padding-top:50px;
    text-align: center;
}

.footer > .con > .wrap > .text1 > a {
    margin-right:30px;
    position: relative;
}

.footer > .con > .wrap > .text1 > a:last-child {
    margin-right:none;
}

.footer > .con > .wrap > .text1 > a > span {
    width:2px;
    height:20px;
    border-left:2px solid #999;
    position: absolute;
    right:-21px;
    top:10px; 
    pointer-events: none;
}

.footer > .con > .wrap > .text2 {
    margin-left: 43px;
    width:800px;
    height:50%;
    font-size:16px;
    color:#555;
}